@font-face {
    font-family: "PT sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT sans", sans-serif;
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT sans", sans-serif;
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    width: 1280px;
    background-color: #F2F2F2;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}


.main-container {
    flex-grow: 1;
}

/* Шапка  */

.navigation {
    display: grid;
    grid-template-columns: 140px 592px 268px;
    grid-gap: 30px;
    width: 1060px;
    margin: 0;
    padding-right: 70px;
    padding-left: 70px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo-sedona {
    margin: 0;
    margin-bottom: -6px;
    z-index: 1;
}

.navigation-link {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
    padding: 20px 16px;
}

.navigation-link:hover,
.navigation-link:focus {
    background-color: #82B3D3;
    color: #ffffff;
}

.navigation-link:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.navigation-link-current {
    position: relative;
}

.navigation-link-current::before {
    position: absolute;
    background-color: #756257;
    height: 2px;
    content: "";
    bottom: 0;
    right: 16px;
    left: 16px;
}

.navigation-user {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation-item {
    list-style-type: none;
}

.navigation-user-link {
    position: relative;
    display: block;
    list-style-type: none;
    width: 44px;
    height: 64px;
    margin: 0 auto;
    padding: 20px 12px 20px 12px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
}

.navigation-link-favorite {
    margin-right: 20px;
}

.svg-user-link {
    position: absolute;
    top: 22px;
}

.navigation-user-link:hover,
.navigation-user-link:focus {
    background-color: #756157;
    color: #ffffff;
}

.navigation-user-link:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.notification-badge {
    font-family: inherit;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    list-style-type: none;
    border-radius: 50%;
    background-color: #7DB54F;
    color: #ffffff;
    padding: 5px 5px 5px 5px;
    position: absolute;
    box-sizing: border-box;
    top: 11px;
    right: 3px;
    bottom: 33px;
    left: 21px;
}

.button {
    font-family: "PT sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.button:hover {
    background-color: #615048;
}

.button:focus {
    background-color: #615048;
}

.button:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

button:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
}

.advantages-button {
    display: block;
    background-color: #756157;
    padding: 8px 34px;
    white-space: nowrap;
}

/* Hero */

.hero {
    position: relative;
    background-image: url("../images/hero/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    padding-top: 51px;
    padding-bottom: 82px;
}

.hero::before {
    position: absolute;
    background-image: url(../images/index-logo-bottom.svg);
    content: "";
    width: 1200px;
    height: 57px;
    top: 430px;
}

.description {
    font-family: inherit;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding-left: 275px;
    padding-right: 275px;
    padding-top: 69px;
    padding-bottom: 69px;
    text-align: center;
}

.description-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
}

.description p {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

/* Преимущества */

.advantages-description {
    margin: 0;
    width: 230px;
}

.advantages-list {
    font-family: inherit;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.advantages-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 230px;
    padding: 100px 85px;
}

.advantages-columns {
    background-color: #82B3D3;
    color: #ffffff;
    background-size: 100% auto;
}

.realy-town {
    display: flex;
}

.birge-of-devil {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 62px;
    width: 175px;
    padding-left: 28px;
    position: relative;
}

.advantages-blue .advantages-title::before {
    position: absolute;
    content: "";
    width: 60px;
    bottom: -30px;
    left: 85px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.advantages-title::before {
    position: absolute;
    content: "";
    width: 60px;
    bottom: -30px;
    left: 85px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.advantages-columns-2 {
    background-color: rgba(131, 179, 211, 0.12);
    background-size: 100% auto;
}

.advantages-item-road {
    background-color: rgba(131, 179, 211, 0.2);
    background-size: 100% auto;
}

/* Сервис */

.services {
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 348px;
    padding-right: 348px;
}

.services-list {
    font-family: inherit;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    padding: 81px 85px;
}

.services-columns {
    background-color: rgba(131, 179, 211, 0.12);
    background-size: 100% auto;
    color: #000000;
}

.services-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.services p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    text-align: center;
    text-wrap: nowrap;
}

.service-name {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.service-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}

.services-item-house {
    background-image: url(../images/services-icon/services-icon-1.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    margin-bottom: 30px;
}

.services-item-food {
    background-image: url(../images/services-icon/services-icon-2.svg);
    background-repeat: no-repeat;
    align-self: auto;
    width: 74px;
    height: 70px;
    margin-bottom: 30px;
}

.services-item-souvenirs {
    background-image: url(../images/services-icon/srvices-icon-3.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    margin-bottom: 30px;
}

.find-hotel {
    font-family: inherit;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: 96px 304px;
}

.find-hotel-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.find-hotel-description {
    margin: 0;
    margin-bottom: 54px;
}

.button-find-hotel {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    border-radius: 4px;
    background-color: #756157;
    color: #ffffff;
    padding: 8px 50px;
}

/* Форма подписки */

.newsletter {
    font-family: inherit;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    background-image: url(../images/Subscribe.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #82B3D3;
    color: #ffffff;
    width: 684px;
    padding: 96px 258px 104px 258px;
}

.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.newsletter-catalog {
    font-family: inherit;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    width: 684px;
    padding: 96px 258px 104px 258px;
}

.newsletter-desription {
    margin: 0;
    margin-bottom: 54px;
}

.newsletter-catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.field {
    background-color: #F2F2F2;
    min-width: 452px;
    height: 52px;
    border: none;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.newsletter-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #82B3D3;
    color: #ffffff;
    min-width: 232px;
    padding: 8px 50px 8px 50px;
}

.newsletter-button:hover,
.newsletter-button:focus {
    background-color: #68A2CA;
}

.newsletter-button:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.newsletter-form {
    width: 452px;
    display: flex;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
}

.page-footer {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 40px 70px 30px 70px;
    align-items: center;
}

/* Подвал */

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    list-style-type: none;
    width: 48px;
    height: 40px;
    margin: 0;
}

.button-social-Vkontakte {
    display: block;
    box-sizing: border-box;
    padding: 12px 13px 12px 13px;

}

.button-social-Telegram {
    display: block;
    box-sizing: border-box;
    padding: 12px 15px 13px 15px;
}

.button-social-You-Tube {
    display: block;
    box-sizing: border-box;
    padding: 12px 13px 12px 13px
}

.button-social {
    color: #83B3D3;
}

.button-social:hover {
    color: #68A2CA;
}

.button-social:focus {
    fill: #68A2CA
}

.button-social:active {
    fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
    font-family: inherit;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    width: 720px;
}

.footer-phone:hover {
    color: #756157;
}

.footer-phone:focus {
    color: #756157;
}

.footer-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.icon-htmlacademy {
    fill: #000000;
    cursor: pointer;
}

.icon-htmlacademy:hover {
    fill: #756157;
}

.icon-htmlacademy:focus {
    fill: #756157;
}

.icon-htmlacademy:active {
    fill: rgba(117, 97, 87, 0.3);
}

/* Модальное окно */

.modal-container-close {
    display: none;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background-color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 396px;
}

.modal-search {
    width: 577px;
    border-radius: 30px;
}

.modal-button-close {
    position: absolute;
    display: block;
    top: 64px;
    right: 52px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: #000000;
}

.modal-button-close:hover,
.modal-button-close:focus {
    background-color: #E6E6E6
}

.modal-button-close:focus {
    outline: 3px solid #83B3D3;
}

.modal-button-close:active {
    color: rgba(117, 97, 87, 0.3)
}

.button-close {
    position: absolute;
    top: 19px;
    left: 19px;
}

.modal-title {
    margin: 0;
    margin-bottom: 64px;
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

.input-with-text {
    grid-column: 2/-1;
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 23px;
}

.input-with-text-red {
    color: #FF5757
}

.date-label {
    align-self: center;
}

.field-modal {
    position: relative;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    min-width: 132px;
    padding: 12px 288px 12px 20px;
    border-radius: 4px;
    background-color: #F2F2F2;
    border: none;
    background-image: url(../images/date-icon.svg);
    background-repeat: no-repeat;
    background-position: right 22px center;
}

.field-modal:focus {
    outline: 3px solid #83B3D3;
}

.field-modal:active {
    outline: 3px solid #000000;
}

.modal-form {
    display: grid;
    grid-template-columns: 137px 110px 88px 131px 111px;
}

.check-in-date,
.check-out-date {
    display: flex;
}

.button-plus-minus {
    position: relative;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
    box-sizing: border-box;
    width: 40px;
    height: 48px;
    display: block;
    color: rgba(117, 97, 87, 0.3);
}

.button-minus {
    position: relative;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.minus {
    position: absolute;
    top: 23px;
    left: 13px;
}

.button-plus-minus:hover {
    color: #000000;
}

.button-plus-minus:active {
    color: rgba(117, 97, 87, 0.3);
}

.button-plus-minus:focus {
    outline: 3px solid #82B3D3;
}

.button-plus {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.plus {
    position: absolute;
    top: 17px;
    left: 13px;
}

.input-plus-minus {
    display: flex;
}

.field-people {
    width: 11px;
    padding: 14px 10px;
    border: none;
    background-color: #F2F2F2;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.label-children {
    grid-column: 4;
    display: flex;
    align-items: center;
}

.label-people {
    position: relative;
    align-self: center;
    margin: 0;
}

.tooltip {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 59px;
}

.tooltip-toggle {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #83B3D3;
    color: #ffffff;
    background-image: url(../images/tooltip-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.tooltip-text::before {
    position: absolute;
    background-image: url(../images/tooltip.svg);
    background-repeat: no-repeat;
    content: "";
    top: -9px;
    width: 19px;
    height: 9px;
    left: 50%;
}

.tooltip-text {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    position: absolute;
    background-color: #333333;
    border-radius: 10px;
    padding: 15px 18px 18px 22px;
    width: 216px;
    z-index: 1;
    transform: translate(-124px);
    margin-top: 18px;
    display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
    display: block;
}

.input-children {
    grid-column: 5;
}

.modal-button {
    grid-column: 1/-1;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #83B3D3;
    border: none;
    margin-top: 48px;
    padding: 18px 257px;
    border-radius: 4px;
}

.modal-button:hover,
.modal-button:focus,
.modal-button:active {
    background-color: #68A2CA;
}

.modal-button:active {
    color: rgba(255, 255, 255, 0.3)
}

/* Каталог */

.main-catalog {
    font-family: inherit;
    line-height: 23px;
    background-image: url(../images/backgroung-catalog.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #82B3D3;
    color: #ffffff;
    width: 1060px;
    padding: 35px 70px 70px 70px;
    margin: 0;
    margin-bottom: 50px;
}

.main-inner-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding: 0;
}

/* Хлебные крошки */

.breadcrumbs {
    display: grid;
    grid-template-columns: 13px 8px 73px;
    grid-gap: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 40px;
}

.breadcrumbs-tick {
    background-image: url(../images/breadcrumbs/breadcrumbs-tick.svg);
}

.breadcrumbs-main-link {
    background-image: url(../images/breadcrumbs/breadcrumbs-main.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 13px;
    height: 15px;
    align-items: center;
    margin-top: 3px;
    cursor: pointer;
}

.breadcrumbs-link {
    cursor: pointer;
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

/* Фильтр продуктов */

.form-price-container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 1060px;
}

.product-filter {
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 70px;
    width: 371px;
    margin: 0;
    padding: 0;
}

.catalog-filter-group {
    border: none;
    padding: 0;
    margin: 0;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
}

.catalog-filter-list {
    width: 150px;
    margin: 0;
    padding: 0;
}

.control {
    position: relative;
    display: block;
}

.control-mark {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
}

.control:hover .control-mark {
    background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
    outline: 3px solid #68A2CA;
}

.control:active .control-mark {
    background-color: rgba(255, 255, 255, 0.3);
}

.control-label {
    padding-left: 36px;
    cursor: pointer;
}

.control-label:hover {
    color: rgba(255, 255, 255, 0.6);
}

.control-label:active {
    color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    background-image: url(../images/check-box.svg);
    width: 12px;
    height: 10px;
    top: 5px;
    left: 4px;
    bottom: 4px;
    content: "";
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.catalog-filter-item {
    list-style: none;
    margin-bottom: 16px;
}

.catalog-filter-item:nth-child(3) {
    margin-bottom: 0;
}

.hotel-price-section {
    display: flex;
    margin: 0;
    padding: 0;
    width: 549px;
    margin-left: 140px;
}

.hotel-price-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 32px;
}

.hotel-price-cotainer {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 143px 143px;
    gap: 2px;
    margin: 0;
    padding: 0;
    border: none;
}

.hotel-price-from {
    grid-column: 1/2;
}

.form-hotel-price {
    margin: 0;
    position: relative;
    color: #000000;
}

.hotel-price {
    position: absolute;
    content: "";
    left: 106px;
    right: 20px;
    top: 12px;
    bottom: 12px;
    width: 17px;
    height: 24px;

}

.hotel-price-field {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    width: 143px;
    padding: 12px 20px;
    padding-right: 40px;
    border: none;
    box-sizing: border-box;
}

.hotel-price-field:focus {
    outline: 3px solid #83B3D3;
}

.hotel-price-field:active {
    outline: 2px solid #000000;
}

.hotel-price-field-from {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.hotel-price-field-to {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.range-scale {
    position: relative;
    height: 4px;
    background-color:
        rgba(255, 255, 255, 0.3);
    margin-top: 46px;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.range-toggle:focus {
    outline: 3px solid #83B3D3;
}

.range-toggle:active {
    outline: 2px solid #83B3D3;
}

.toggle-min {
    top: -8px;
}

.toggle-max {
    top: -8px;
    right: 0;
}

.price-button-container {
    display: grid;
    grid-gap: 32px;
    width: 191px;
    margin-top: 56px;
    margin-left: 70px;
}

.button-apply {
    background-color: #82B3D3;
}

.button-apply:hover {
    background-color: #68A2CA;
}

.button-apply:focus {
    background-color: #68A2CA;
}

.button-apply:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.button-throw-off {
    background-color: transparent;
}

.button-throw-off:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}

.button-throw-off:focus {
    outline: 3px solid #83B3D3;
    background-color: transparent;
}

.button-throw-off:active {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
}

.button-apply + button:disabled {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}

/* Поиск по отелям */

.search-hotel-container {
    display: flex;
    padding-right: 70px;
    padding-left: 70px;
    width: 1060px;
}

.search-hotels {
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.search-hotel-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 200px;
}

.select {
    position: relative;
    width: 290px;
    margin-right: auto;
}

.select-control {
    width: 100%;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
    padding: 14px 131px 14px 20px;
    box-sizing: border-box;
    appearance: none;
    background-image: url(../images/select-control.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
    cursor: pointer;
}

.select-control:hover,
.select-control:focus {
    border: 2px solid #68a2ca;
}

.select-control:active {
    border: 2px solid #3F5E72;
}

.select-control:disabled {
    outline: 2px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3)
}

/*
Фильтр страницы */

.page-filter-button {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    grid-gap: 8px;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.button-filter {
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-radius: 4px;
    background-position: center;
}

.button-show-cards {
    background-image: url(../images/View-icon/View-icon-cards.svg);
    border: 2px solid #000000;
}

.button-show-cards:hover {
    border: 2px solid #000000;
}

.button-show-cards:focus {
    border: 2px solid #68A2CA;
}

.button-show-cards:active {
    border: 2px solid #000000;
}

.button-one-product {
    background-image: url(../images/View-icon/View-icon-one-product.svg);
    border: 1px solid #E5E5E5;
}

.button-one-product:hover {
    border: 2px solid #000000;
}

.button-one-product:focus {
    border: 2px solid #68A2CA;
}

.button-one-product:active {
    border: 2px solid #000000;
}

.button-show-list {
    background-image: url(../images/View-icon/View-icon-list.svg);
    border: 1px solid #E5E5E5;
}

.button-show-list:hover {
    border: 2px solid #000000;
}

.button-show-list:focus {
    border: 2px solid #68A2CA;
}

.button-show-list:active {
    border: 2px solid #000000;
}

/* Карточки товара */

.product-card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 1060px;
    margin: 0;
    padding-right: 70px;
    padding-left: 70px;
    position: relative;
    margin-bottom: 60px;
}

.product-card {
    display: grid;
    grid-template-rows: 212px min-content auto min-content min-content;
    grid-template-columns: 140px 140px;
    column-gap: 20px;
    row-gap: 16px;
    background-color: #ffffff;
    list-style: none;
    width: 298px;
    padding: 20px;
    border: 1px solid #E6E6E6;
}

.product-card-item {
    margin-right: 20px;
    margin-bottom: 20px;
}

.product-card-item:nth-child(3n) {
    margin-right: 0;
}

.product-card-list::after {
    position: absolute;
    content: "";
    outline: 1px solid #E6E6E6;
    width: 1066px;
    bottom: -20px;
}

.product-card-link {
    text-decoration: none;
    color: #000000;
    grid-column: 1/-1;
    margin: 0;
}

.product-card-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.product-card-price {
    text-align: end;
}

.product-card-description {
    font-family: inherit;
    color: #333333;
    margin: 0;
}

.product-card-button-detailed {
    background-color: #756157;
    padding: 8px 26px;
}

.product-card-button-favorites-current {
    background-color: #7DB54F;
    padding-top: 8px;
    padding-bottom: 8px;
}

.product-card-button-favorites-current:hover {
    background-color: #6C9E42;
}

.product-card-button-favorites-current:focus {
    background-color: #6C9E42;
}

.product-card-button-favorites-current:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3)
}

.product-card-button-favorites {
    background-color: #82B3D3;
    padding-top: 8px;
    padding-bottom: 8px;
}

.product-card-button-favorites:hover {
    background-color: #68A2CA;
}

.product-card-button-favorites:focus {
    background-color: #68A2CA;
}

.product-card-button-favorites:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3)
}

.product-card-rating {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: #F2F2F2;
    color: #333333;
    padding: 9px 22px 8px 23px;
}

.product-card-4-star-rating {
    background-image: url(../images/stars/stars-4.svg);
    background-repeat: no-repeat;
}

.product-card-3-star-rating {
    background-image: url(..//images/stars/stars-3.svg);
    background-repeat: no-repeat;
}

.product-card-2-star-rating {
    background-image: url(../images/stars/stars-2.svg);
    background-repeat: no-repeat;
}

/* Пагинация */

.pagination-list {
    list-style: none;
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 60px;
}

.pagination-link {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    border-radius: 4px;
    padding: 11px 25px 13px 24px;
    margin-left: 8px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
}

.pagination-link:hover {
    background-color: #68A2CA;
}

.pagination-link:focus {
    background-color: #68A2CA;
}

.pagination-link:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-link-ellipsis {
    margin-left: 8px;
    padding: 17px 21px 17px 21px;
    background-color: #ffffff;
    display: block;
}

.pagination-link-10 {
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    border-radius: 4px;
    padding: 12px 18px 12px 18px;
}

.pagination-link-current {
    text-decoration: none;
    color: #000000;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    background-color: #F2F2F2;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
